* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--icon-bgc: rgb(255, 255, 255);
	--light-gray: hsl(217, 16%, 45%);
	--blue-text: hsl(229, 64%, 46%);
	--dark-grey: hsl(229, 25%, 31%);
}
body {
	height: 100vh;
	overflow: hidden;
	font-family: "Barlow Semi Condensed", sans-serif;
	background: linear-gradient(hsl(214, 47%, 23%), hwb(238 8% 78%));
}

.heading {
	display: flex;
	justify-content: space-between;
	width: 40%;
	margin-top: 2rem;
	padding: 1rem;
	margin-inline: auto;
	border: 2px solid var(--light-gray);
	border-radius: 15px;
	color: var(--icon-bgc);
	text-transform: uppercase;
	&__title {
		display: flex;
		flex-direction: column;
		line-height: 0.8;
		font-size: 2rem;
	}
	&__score {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 5rem;
		border-radius: 6px;
		background-color: var(--icon-bgc);
		&--title {
			font-size: 0.7rem;
			letter-spacing: 1px;
			color: var(--blue-text);
		}
		&--value {
			font-size: 2.8rem;
			font-weight: 800;
			line-height: 0.8;
			color: var(--dark-grey);
		}
	}
}
.game-container {
	display: flex;
	position: relative;
	width: 30rem;
	margin: 0 auto;
}
.triangle {
	position: absolute;
	top: 9rem;
	transform: translate(25%);
}

.game-container__item-border {
	width: 11rem;
	height: 11rem;
	// margin: 1rem;
	border: 25px solid;
	border-radius: 50%;
	cursor: pointer;
	.icon {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 8rem;
		height: 8rem;
		margin-bottom: 1rem;
		// background-repeat: no-repeat;
		// background-position: center;
		background-color: var(--icon-bgc);
		border-radius: 50%;
		box-shadow: 0px -8px 0px hsl(0, 0%, 82%);
	}
	&--rock {
		position: absolute;
		top: 18rem;
		left: 12rem;
		transform: translate(-35%);
	}
	&--paper {
		position: absolute;
		top: 4rem;
		left: 1rem;
	}
	&--scissors {
		position: absolute;
		top: 4rem;
		right: 1rem;
	}
}

.rules-container {
	width: 100%;
	&__open-btn {
		position: absolute;
		bottom: 2rem;
		right: 5rem;
		padding: 0.5rem 2rem;
		letter-spacing: 2px;
		text-transform: uppercase;
		border: 1px solid var(--icon-bgc);
		border-radius: 5px;
		color: var(--icon-bgc);
		background-color: transparent;
		cursor: pointer;
	}
	&__background {
		display: flex;
		align-items: center;
	}
	&__rules-content {
		display: flex;
		flex-direction: column;
		width: 23rem;
		margin: 0 auto;
		border-radius: 10px;
		background-color: var(--icon-bgc);
	}
	&__rules-img {
		padding-block: 1.5rem;
	}
	&__close-btn {
		border: none;
		background-color: transparent;
	}
	&__rules-flex {
		display: flex;
		justify-content: space-between;
		padding: 1.5rem;
	}
	&__rules-title {
		font-size: 1.5rem;
		font-weight: bold;
		text-transform: uppercase;
		color: var(--dark-grey);
	}
}

.game-round {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 3rem;
	width: 40rem;
	margin: 0 auto;
	padding-top: 5rem;
	&__title {
		display: flex;
		justify-content: center;
		padding-bottom: 1rem;
		text-transform: uppercase;
		letter-spacing: 2px;
		font-weight: bold;
		color: var(--icon-bgc);
	}
	&__btn {
		padding: 0.8rem 2.5rem;
		font-size: 0.7rem;
		font-weight: 600;
		letter-spacing: 1px;
		text-transform: uppercase;
		border: none;
		border-radius: 5px;
		color: var(--dark-grey);
		cursor: pointer;
		transition: color 0.3s;
	}
	&__btn:hover {
		color: hsl(349, 70%, 56%);
	}
	&__result-name {
		display: flex;
		justify-content: center;
		height: 2.5rem;
		margin-bottom: 1rem;
		font-size: 2.5rem;
		text-transform: uppercase;
		color: var(--icon-bgc);
	}
}

.img {
	display: flex;
	justify-content: center;
}

.background-active {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	backdrop-filter: blur(2px);
	background-color: rgba(0, 0, 0, 0.329);
}
.inactive {
	display: none;
}

.zIndex-active {
	z-index: -10;
}
.computer-icon-bg {
	width: 7rem;
	height: 7rem;
	margin: 2rem;
	border-radius: 50%;
	background-color: hsl(229, 50%, 20%);
}

.win-bg {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 11rem;
	border-radius: 50%;
	transition: box-shadow 0.5s ease-out 1s;
	box-shadow:
		0 0 0 40px rgba(255, 255, 255, 0.034),
		0 0 0 80px rgba(255, 255, 255, 0.027),
		0 0 0 120px rgba(255, 255, 255, 0.014);
}

@media (max-width: 400px) {
	.heading {
		width: 90%;
		&__title {
			font-size: 1.3rem;
		}
		&__score {
			padding: 0.5rem;
			&--value {
				font-size: 2.3rem;
			}
		}
	}

	.game-container {
		width: 90%;
	}
	.triangle {
		scale: (0.8);
		top: 5rem;
		left: 40%;
		transform: translate(-50%);
	}

	.game-container__item-border {
		width: 7rem;
		height: 7rem;
		border: 17px solid;
		.icon {
			width: 5rem;
			height: 5rem;
			box-shadow: 0px -5px 0px hsl(0, 0%, 82%);
		}
		&--rock {
			top: 15rem;
			left: 9rem;
		}
	}

	.rules-container {
		&__open-btn {
			bottom: 4rem;
			right: 50%;
			transform: translate(50%);
		}
		&__rules-content {
			width: 100%;
			height: 100%;
			border-radius: 0px;
		}
		&__rules-img {
			position: absolute;
			top: 50%;
			transform: translate(0%, -50%);
			padding-block: 1.5rem;
		}
		&__close-btn {
			position: absolute;
			bottom: 4rem;
			left: 50%;
			transform: translate(-50%);
		}
		&__rules-title {
			font-size: 1.9rem;
			position: absolute;
			top: 4rem;
			left: 50%;
			transform: translate(-50%);
		}
	}

	.game-round {
		display: grid;
		width: 90%;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		align-items: start;
		justify-items: center;
		&__grid-one {
			grid-column: 1/2;
			grid-row: 1/2;
		}
		&__grid-two {
			grid-column: 1/3;
			grid-row: span 2;
		}
		&__grid-three {
			grid-column: 2/3;
			grid-row: 1/2;
		}
		&__grid-one,
		&__grid-three {
			max-height: 160px;
			display: grid;
			gap: 1rem;
			grid-template-rows: 1fr 1fr;
			align-items: center;
			justify-items: center;
		}
		&__title {
			grid-row: 2/3;
			font-size: 0.8rem;
		}
	}

	.win-bg {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 7rem;
		border-radius: 50%;
		transition: box-shadow 0.5s ease-out 1s;
		box-shadow:
			0 0 0 40px rgba(255, 255, 255, 0.034),
			0 0 0 80px rgba(255, 255, 255, 0.027),
			0 0 0 120px rgba(255, 255, 255, 0.014);
	}
	.computer-icon-bg {
		margin: 0rem;
	}
}

.paper-border-color {
	border-color: hsl(230, 89%, 65%);
	box-shadow: 0px 8px 1px hsl(230, 89%, 62%);
}
.rock-border-color {
	border-color: hsl(349, 70%, 56%);
	box-shadow: 0px 8px 1px hsl(349, 71%, 52%);
}
.scissors-border-color {
	border-color: hsl(40, 84%, 53%);
	box-shadow: 0px 8px 1px hsl(39, 89%, 49%);
}
